.nav-bar
    {
    display: flex;
    width: 1193px; 
    height: 60px;  
    padding: 0 25px;     
    position: fixed;
    background-color: #0c1427;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid #18233e;
    border-left: none;
    transition: width  0.5s;
    
    }

.nav-bar form
    {
     display: flex;
    width: 100%;

    }
.nav-bar ul
    {
        display: flex;
        
    }
.nav-bar li
    {
        
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
        min-width: 30px;
        
        display: flex;
    
    align-items: center;
    }

nav form input
    {
        background-color: transparent;
        border: none;
        display: flex;
        color: gray;
    cursor: pointer;
    }
#nav-search
{
    border: none;
    width: 100%;
    padding: 0;
}

    

