.nav-bar
    {
    display: flex;
    width: 1193px; 
    height: 60px;  
    padding: 0 25px;     
    position: fixed;
    background-color: #0c1427;
    justify-content: space-between;
    box-sizing: border-box;
    
    }

.nav-bar form
    {
     display: flex;
    

    }
.nav-bar ul
    {
        display: flex;
        
    }
.nav-bar li
    {
        
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
        min-width: 30px;
        
        display: flex;
    
    align-items: center;
    }
nav form input
    {
        background-color: transparent;
        border: none;
    }
    nav form button
    {
        background-color: transparent;
        border: transparent;
        color: white;
    }